$color-dark: #094067;
$color-grey: #5f6c7b;
$color-pink: #F4136B;
$light-blue: #d8eefe;
$primary-blue: #005A87;
$secondary-blue: #49E2EE;
$mid-blue: #017DAB;

:export {
    colorDark: $color-dark;
    colorGrey: $color-grey;
    colorPink: $color-pink;
    lightBlue: $light-blue;
    primaryBlue: $primary-blue;
    secondaryBlue: $secondary-blue;
    midBlue: $mid-blue;
}