@import './variable.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

body {
  font-family: 'Merriweather',serif;
}

.gradient-bg{
    background-image: linear-gradient(to right, $primary-blue, $secondary-blue) !important;
}

.primary-blue-bg{
    background-color: $primary-blue !important;
}

.pink-bg{
    background-color: $color-pink !important;
}

.button{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    letter-spacing: 2px;
    transition: 0.3s;
}

.button:hover{
    box-shadow: 5px 5px 10px gray;
}