@import './variable.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}


.gradient-bg {
    background-image: linear-gradient(to right, $primary-blue, $secondary-blue) !important;
}

.dark-bg {
    background-color: $color-dark  !important;
}

.primary-blue-bg {
    background-color: $primary-blue  !important;
}

.pink-bg {
    background-color: $color-pink  !important;
}

.red-bg{
    background-color: $color-red !important;
}

.green-bg{
    background-color: $color-green !important;
}

.grey-bg {
    background-color: $light-grey;
}

.light-grey-bg {
    background-color: $lighter-grey;
}

.pink-color {
    color: $color-pink  !important;
}

.primary-text {
    color: $primary-blue  !important;
}

.color-red {
    color: $color-red !important;
}

.color-green{
    color: $color-green !important;
}

.radius-7 {
    border-radius: 7px;
}

.shadow-small {
    box-shadow: 5px 5px 10px lightgray !important;
}

.button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
    box-shadow: 2px 2px 4px gray;
}

.button:hover {
    box-shadow: 5px 5px 10px gray;
}

.letter-spacing-3{
    letter-spacing: 3px;
}

.title-style {
    text-shadow: 4px 4px 4px rgb(179, 175, 175);
    font-weight: 900;
}
.title-line{
    height:2px;
    background-color: $color-pink;
    width: 200px;
}
// .title-style {
//     border-top: 3px solid $color-pink;
//     border-bottom: 3px solid $color-pink;
// }

.primary-bordered-btn {
    border: 2px solid $primary-blue;
    color: $primary-blue;
}

.primary-bordered-btn:hover {
    background-color: $primary-blue;
    color: white;
}

// img zoom on hover 

.card-container {
    transition: 0.3s;

}

.img-container {
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    z-index: -1;
    transition: transform .7s ease;
}

.card-container:hover .img-container img {
    transform: scale(1.2);
}


::selection {
    color: #fff;
    background-color: $color-dark;
}

.cursor-pointer {
    cursor: pointer !important;
}

.bordered-input {
    outline: none;
    border: 2px solid $primary-blue;
    border-radius: 5px;
    transition: 0.3s;
}

.bordered-input:hover{
    box-shadow: 2px 2px 4px gray;
}


// slider 

.slick-dots li button:before {
  color: $light-grey !important;
  font-size: 10px !important;
  opacity: 100 !important;
  margin-top: 15px;
}

li.slick-active > button::before {
  color: $color-pink !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.outline-0 {
    outline: none;
}



