@import './variable.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Merriweather',serif;
}


.gradient-bg{
    background-image: linear-gradient(to right, $primary-blue, $secondary-blue) !important;
}

.primary-blue-bg{
    background-color: $primary-blue !important;
}

.pink-bg{
    background-color: $color-pink !important;
}

.primary-text{
    color: $primary-blue !important;
}

.radius-7{
    border-radius: 7px;
}

.button{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    letter-spacing: 2px;
    transition: 0.3s;
}

.button:hover{
    box-shadow: 5px 5px 10px gray;
}


// img zoom on hover 

.card-container {
    transition: 0.3s;
    
}

.img-container {
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    z-index: -1;
    transition: transform .7s ease;
}

.card-container:hover .img-container img {
    transform: scale(1.2);
}


::selection {
    color: #fff;
    background-color: $color-dark;
  }