@import "../../../sass/variable.module.scss";

.review {
  border-left: 7px solid $color-dark;
  transition: 0.3s;
  min-height: 350px ;
  border-radius: 50%;
}

.review-img {
  margin-top: -40px;
  box-shadow: 4px 4px 8px gray;
}